button {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 130px;
    background: thistle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.modal  {
    display: none; /* pour pas la voir */
    position: fixed; /*fixer élement sur l'écran*/
    z-index: 1; /* pour qu'il soit au dessus des autres / permet de faire des couches, 
    celui qui a le plus grand chiffre est au-dessus*/
    left: 0;
    top: 0; /* position */
    width: 100%; /* pour le faire apparaître*/
    height: 100%;
    background-color: rgba(0, 0, 0, 0,4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* margin = calculé par rapport à la largeur de l'élément parent*/
    border: 1px solid #888;
    width: 60%;
    height: 300px;
}

.modal-content p {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;  
}

.close {
    color: #aaa;
    position: relative;
    float: right; /* sort du flux*/
    cursor: pointer;
    font-size: 50px;
    padding: 0 10px 0 0; /* aiguille d'une montre*/
    font-weight: bold;
}